dn: ou=People,{{ SUFFIX }}
objectClass: organizationalUnit
ou: People

dn: ou=Groups,{{ SUFFIX }}
objectClass: organizationalUnit
ou: Groups

dn: cn=miners,ou=Groups,{{ SUFFIX }}
objectClass: posixGroup
cn: ldapssh
gidNumber: 5000

dn: uid=john,ou=People,{{ SUFFIX }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
objectClass: ldapPublicKey
uid: john
sn: Doe
givenName: John
cn: John Doe
displayName: John Doe
uidNumber: 10000
gidNumber: 5000
userPassword: johnldap
gecos: John Doe
loginShell: /bin/bash
homeDirectory: /home/john
sshPublicKey:: c3NoLXJzYSBBQUFBQjNOemFDMXljMkVBQUFBREFRQUJBQUFCQVFDait2ZTdCNWZ
 5MlZWWG9Fc2hMeWlYaVRnV1RkWUdDN2svN3MzRTlMQTQwSi9nYTZZSWxsS0VUVXpWY2pYMWhVbnpV
 UVdaZFF1UkkzdDRTWUlQK1I3MWZ0L2xTV3hFOWthd3UvUTNkY2tTR0cvMlkzeWNEaVhMTXZtMmNvM
 jNiZkZidU5Sbmkvd3dIblJ3Ky8zMndKVmhJQU1vSW9yb3IzZ2tPT2VsL3VtOGJNeFRTaFY0amp5Sz
 lnYmtTWTF2Q0JZQUVNQVRGTEEwcTFLeVI3cTlzaTlYbUdadzFLLy9zTUpwUTlrZFNPMno4ZGJpYmh
 QR2hCajJyelhqU1Z2WVFiOFdZZGQwNWw4aWlUSml6S1J3K2tOQXF4ZkptUXJ1U0s5MEIyVTRPVnp0
 cWw1SXNkUnB3a3lkVzRNMmpmRmErSitDekxQUEE4QTYvcU11b2krUlY3M24K

